In [1]:
import pandas as pd
import sqlite3

# Connect to database
conn = sqlite3.connect('nba_5seasons.db')
print("✅ Connected to nba_5seasons.db")

✅ Connected to nba_5seasons.db

In [8]:
# SQL query to list all tables in the SQLite database
query = """
SELECT name
FROM sqlite_master
WHERE type='table'
ORDER BY name;
"""

# Run the query and load the results into a pandas DataFrame
tables = pd.read_sql(query, conn)

# Display the table names
tables

Empty DataFrame
Columns: [name]
Index: []

In [9]:
pd.read_sql("PRAGMA table_info(player_season_stats);", conn)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [10]:
pd.read_sql("PRAGMA table_info(players);", conn)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [11]:
pd.read_sql("PRAGMA table_info(team_game_stats);", conn)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [12]:
pd.read_sql("PRAGMA table_info(teams);", conn)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [17]:
# How many teams are in our database?
query = "select" Count(*)
SELECT COUNT(*) as total_teams
FROM teams
"total_teams"from"

result = pd.read_sql(query, conn)
print("Total NBA Teams:")
display(result)

# COUNT(*) counts all rows in the table

SyntaxError: unterminated string literal (detected at line 5) (2500818428.py, line 5)

In [21]:
# How many player-season records for 2021-22?

SELECT COUNT(*) as player_records
FROM player_season_stats
WHERE season = '2021-22'


result = pd.read_sql(query, conn)
print("Player Season Records (2021-22):")
display(result)

# This counts how many players have stats recorded for that season

SyntaxError: Invalid star expression (3649521250.py, line 3)

In [22]:
# Highest and lowest scores in any game (2021-22)
query = """
SELECT 
    MIN(pts) as lowest_score,
    MAX(pts) as highest_score,
    MAX(pts) - MIN(pts) as score_range
FROM team_game_stats
WHERE season = '2021-22'
"""

result = pd.read_sql(query, conn)
print("Scoring Range for 2021-22 Season:")
display(result)

# Shows the extremes and calculates the range

DatabaseError: Execution failed on sql '
SELECT
    MIN(pts) as lowest_score,
    MAX(pts) as highest_score,
    MAX(pts) - MIN(pts) as score_range
FROM team_game_stats
WHERE season = '2021-22'
': no such table: team_game_stats

In [23]:
# Comprehensive stats for all 2021-22 games
query = """
SELECT 
    COUNT(*) as total_games,
    SUM(pts) as total_points,
    ROUND(AVG(pts), 1) as avg_points,
    MIN(pts) as min_score,
    MAX(pts) as max_score
FROM team_game_stats
WHERE season = '2021-22'
"""

result = pd.read_sql(query, conn)
print("2021-22 Season Statistics Summary:")
display(result)

# One query gives us a complete statistical overview

DatabaseError: Execution failed on sql '
SELECT
    COUNT(*) as total_games,
    SUM(pts) as total_points,
    ROUND(AVG(pts), 1) as avg_points,
    MIN(pts) as min_score,
    MAX(pts) as max_score
FROM team_game_stats
WHERE season = '2021-22'
': no such table: team_game_stats

In [24]:
# Without GROUP BY - just counts ALL games
query = """
SELECT COUNT(*) as total_games
FROM team_game_stats
WHERE season = '2021-22'
"""

result = pd.read_sql(query, conn)
print("Total games across all teams:")
display(result)

DatabaseError: Execution failed on sql '
SELECT COUNT(*) as total_games
FROM team_game_stats
WHERE season = '2021-22'
': no such table: team_game_stats