In [2]:
import pandas as pd
import sqlite3

# Connect to database
conn = sqlite3.connect('nba_2022-2023.xlsx')
print("✅ Connected to database")

✅ Connected to database

In [14]:
# TODO: Write your query
query_1 = "Select From teams count(*)"



result_1 = pd.read_sql(query_1, conn)
display(result_1)

DatabaseError: Execution failed on sql 'Select From teams count(*)': near "From": syntax error

In [9]:
# TODO: Write your query
query_2 = "FROM player_season_stats"

"WHERE season =2021-22"

'WHERE season =2021-22'

In [16]:
# TODO: Write your query
query_3 = "sum(pts) from team_game_stats"WHERE season=2021-22"



result_3 = pd.read_sql(query_3, conn)
display(result_3)

SyntaxError: unterminated string literal (detected at line 2) (1540630591.py, line 2)

In [17]:
# TODO: Write your query
query_4 = "AVG(pts)"FROM team_game_stats"

"""

result_4 = pd.read_sql(query_4, conn)
display(result_4)

SyntaxError: unterminated string literal (detected at line 2) (1049953251.py, line 2)

In [18]:
# TODO: Write your query
query_5 = "MAX(pts)"MIN(pts)"

"""

result_5 = pd.read_sql(query_5, conn)
display(result_5)

SyntaxError: unterminated string literal (detected at line 2) (4290443180.py, line 2)

In [21]:
# TODO: Write your query
query_6 = "SUM(pts)""WHERE=1610612747"



result_6 = pd.read_sql(query_6, conn)
display(result_6)

DatabaseError: Execution failed on sql 'SUM(pts)WHERE=1610612747': near "SUM": syntax error

In [23]:
# TODO: Write your query
query_7 = "AVG(pts)""FROM = team_game_stats"



result_7 = pd.read_sql(query_7, conn)
display(result_7)

DatabaseError: Execution failed on sql 'AVG(pts)FROM = team_game_stats': near "AVG": syntax error

In [24]:
# TODO: Write your query
query_9 = "COUNT(*)""WHERE state = 'California'"

"""

result_9 = pd.read_sql(query_9, conn)
display(result_9)

_IncompleteInputError: incomplete input (649178479.py, line 4)

In [27]:
# TODO: Write your query
query_10 = "Min(year_founded)"

"""

result_10 = pd.read_sql(query_10, conn)
display(result_10)

_IncompleteInputError: incomplete input (3441958942.py, line 4)

In [29]:
# TODO: Write your query
query_11 = "SELECT team_id""COUNT(*)"

"GROUP BY team_id"

result_11 = pd.read_sql(query_11, conn)
display(result_11.head(10))  # Show first 10 teams

DatabaseError: Execution failed on sql 'SELECT team_idCOUNT(*)': no such function: team_idCOUNT

In [30]:
# TODO: Write your query
query_12 = "GROUP BY team_id""ORDER BY avg_points DESC"

"""

result_12 = pd.read_sql(query_12, conn)
display(result_12.head(10))  # Show first 10 teams

_IncompleteInputError: incomplete input (356844469.py, line 4)

In [31]:
# TODO: Write your query
query_13 = "SELECT
t.full_name as team,
t.city,
COUNT(tgs.game_id) as games_played
FROM teams t
JOIN team_game_stats tgs ON t.team_id = tgs.team_id
WHERE tgs.season = '2021-22'
GROUP BY t.team_id, t.full_name, t.city
ORDER BY games_played DESC""

"""

result_13 = pd.read_sql(query_13, conn)
display(result_13.head(10))

SyntaxError: unterminated string literal (detected at line 2) (823614557.py, line 2)

In [32]:
# TODO: Write your query
query_18 = "COUNT(*)""GROUP BY team_id"

"""

result_18 = pd.read_sql(query_18, conn)
display(result_18.head(10))

_IncompleteInputError: incomplete input (775010562.py, line 4)