In [1]:
import pandas as pd
import sqlite3

# Connect to database
conn = sqlite3.connect('nba_2022-2023.xlsx')
print("✅ Connected to database")

✅ Connected to database

In [4]:
# TODO: Write your query
query_19 = """
SELECT
  t.__________ AS team,                -- team name column
  ROUND(AVG(tgs._____), __) AS _______ -- average points, rounded to 1 decimal
FROM _____________ tgs                 -- table with game-level stats
JOIN _____ t 
  ON tgs._______ = t._______           -- match team IDs
WHERE tgs.season = '________'          -- season filter
GROUP BY t._______, t.__________        -- one row per team
HAVING AVG(tgs._____) > ___             -- only high-scoring teams
ORDER BY _______ DESC;                  -- highest averages first

_IncompleteInputError: incomplete input (2646329119.py, line 2)

In [5]:
# TODO: Write your query
query_20 = """
SELECT
  t.__________ AS team,
  SUM(
    CASE 
      WHEN tgs.__ = 'W' THEN ___
      ELSE ___
    END
  ) AS wins
FROM _____________ tgs
JOIN _____ t ON tgs._______ = t._______
WHERE tgs.season = '________'
GROUP BY t.team_id, t.__________
HAVING wins >= ____
ORDER BY wins DESC;
"""

result_20 = pd.read_sql(query_20, conn)
display(result_20)

DatabaseError: Execution failed on sql '
SELECT
  t.__________ AS team,
  SUM(
    CASE
      WHEN tgs.__ = 'W' THEN ___
      ELSE ___
    END
  ) AS wins
FROM _____________ tgs
JOIN _____ t ON tgs._______ = t._______
WHERE tgs.season = '________'
GROUP BY t.team_id, t.__________
HAVING wins >= ____
ORDER BY wins DESC;
': no such table: _____________

In [6]:
# TODO: Write your query
query_21 = """
SELECT
  t.__________ AS team,                 -- team name
  COUNT(*) AS _____________             -- count of games
FROM _____________ tgs                  -- game-level stats table
JOIN _____ t 
  ON tgs._______ = t._______            -- match team IDs
WHERE tgs.season = '________'           -- season filter
GROUP BY t._______, t.__________         -- one row per team
HAVING _____________ >= __               -- minimum games played
ORDER BY _____________ DESC;             -- most games first
"""

result_21 = pd.read_sql(query_21, conn)
display(result_21)

DatabaseError: Execution failed on sql '
SELECT
  t.__________ AS team,                 -- team name
  COUNT(*) AS _____________             -- count of games
FROM _____________ tgs                  -- game-level stats table
JOIN _____ t
  ON tgs._______ = t._______            -- match team IDs
WHERE tgs.season = '________'           -- season filter
GROUP BY t._______, t.__________         -- one row per team
HAVING _____________ >= __               -- minimum games played
ORDER BY _____________ DESC;             -- most games first
': no such table: _____________

In [7]:
# TODO: Write your query
query_22 = """
SELECT
  __________ AS state,                  -- state name
  COUNT(*) AS _____________             -- number of teams in the state
FROM __________                           -- teams table
GROUP BY __________                      -- one row per state
HAVING _____________ > __                -- minimum number of teams
ORDER BY _____________ DESC, __________; -- sort by count, then state
"""

result_22 = pd.read_sql(query_22, conn)
display(result_22)

DatabaseError: Execution failed on sql '
SELECT
  __________ AS state,                  -- state name
  COUNT(*) AS _____________             -- number of teams in the state
FROM __________                           -- teams table
GROUP BY __________                      -- one row per state
HAVING _____________ > __                -- minimum number of teams
ORDER BY _____________ DESC, __________; -- sort by count, then state
': no such table: __________

In [8]:
# TODO: Write query for team performance
query_export_1 = """
SELECT 
    t.full_name AS team,
    t.city,
    t.state,
    COUNT(tgs.game_id) AS games_played,
    ROUND(AVG(tgs.pts), 1) AS avg_points,
    MIN(tgs.pts) AS season_low,
    MAX(tgs.pts) AS season_high
FROM teams t
JOIN team_game_stats tgs ON t.team_id = tgs.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name, t.city, t.state
ORDER BY avg_points DESC
"""

# Execute and export
export_1 = pd.read_sql(query_export_1, conn)

# Display what we're exporting
print("Team Performance Data:")
display(export_1.head())

# Export to Excel
export_1.to_excel('team_performance.xlsx', index=False, sheet_name='Team Stats')
print("✅ Exported to team_performance.xlsx")

DatabaseError: Execution failed on sql '
SELECT
    t.full_name AS team,
    t.city,
    t.state,
    COUNT(tgs.game_id) AS games_played,
    ROUND(AVG(tgs.pts), 1) AS avg_points,
    MIN(tgs.pts) AS season_low,
    MAX(tgs.pts) AS season_high
FROM teams t
JOIN team_game_stats tgs ON t.team_id = tgs.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name, t.city, t.state
ORDER BY avg_points DESC
': no such table: teams

In [9]:
# TODO: Write query for top scorers
query_export_2 = """
SELECT
    p.full_name AS player_name,
    t.full_name AS team_name,
    ps.gp AS games_played,
    ROUND(ps.pts / ps.gp, 1) AS points_per_game,
    ps.pts AS total_points
FROM player_season_stats ps
JOIN players p ON ps.player_id = p.player_id
JOIN teams t   ON ps.team_id = t.team_id
WHERE ps.season = '2024-25'
  AND ps.gp >= 20
ORDER BY total_points DESC
LIMIT 50
"""

export_2 = pd.read_sql(query_export_2, conn)
print("Top Scorers Data:")
display(export_2.head(10))

export_2.to_excel('top_scorers.xlsx', index=False, sheet_name='Scoring Leaders')
print("✅ Exported to top_scorers.xlsx")

DatabaseError: Execution failed on sql '
SELECT
    p.full_name AS player_name,
    t.full_name AS team_name,
    ps.gp AS games_played,
    ROUND(ps.pts / ps.gp, 1) AS points_per_game,
    ps.pts AS total_points
FROM player_season_stats ps
JOIN players p ON ps.player_id = p.player_id
JOIN teams t   ON ps.team_id = t.team_id
WHERE ps.season = '2024-25'
  AND ps.gp >= 20
ORDER BY total_points DESC
LIMIT 50
': no such table: player_season_stats

In [10]:
# TODO: Write query for win-loss records
query_export_3 = """
SELECT
    t.full_name AS team_name,
    COUNT(tgs.game_id) AS games_played,
    SUM(CASE WHEN tgs.wl = 'W' THEN 1 ELSE 0 END) AS wins,
    SUM(CASE WHEN tgs.wl = 'L' THEN 1 ELSE 0 END) AS losses
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name
ORDER BY wins DESC
"""

export_3 = pd.read_sql(query_export_3, conn)
export_3['win_pct'] = (export_3['wins'] / export_3['games_played'] * 100).round(1)

print("Win-Loss Records:")
display(export_3.head(10))

export_3.to_excel('win_loss_records.xlsx', index=False, sheet_name='Records')
print("✅ Exported to win_loss_records.xlsx")

DatabaseError: Execution failed on sql '
SELECT
    t.full_name AS team_name,
    COUNT(tgs.game_id) AS games_played,
    SUM(CASE WHEN tgs.wl = 'W' THEN 1 ELSE 0 END) AS wins,
    SUM(CASE WHEN tgs.wl = 'L' THEN 1 ELSE 0 END) AS losses
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name
ORDER BY wins DESC
': no such table: team_game_stats

In [11]:
# TODO: Write query for high-scoring games
query_export_4 = """
SELECT
    t.full_name AS team_name,
    tgs.game_date,
    tgs.matchup AS opponent,
    tgs.pts AS points_scored,
    tgs.wl AS win_loss
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
  AND tgs.pts >= 120
ORDER BY tgs.pts DESC, tgs.game_date ASC
"""

export_4 = pd.read_sql(query_export_4, conn)
print("High-Scoring Games (120+ points):")
display(export_4.head(10))

export_4.to_excel('high_scoring_games.xlsx', index=False, sheet_name='High Scores')
print("✅ Exported to high_scoring_games.xlsx")

DatabaseError: Execution failed on sql '
SELECT
    t.full_name AS team_name,
    tgs.game_date,
    tgs.matchup AS opponent,
    tgs.pts AS points_scored,
    tgs.wl AS win_loss
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
  AND tgs.pts >= 120
ORDER BY tgs.pts DESC, tgs.game_date ASC
': no such table: team_game_stats

In [12]:
# Close database connection
conn.close()
print("✅ Connection closed")
print("\nGreat work! Ready for the Excel task.")

✅ Connection closed

Great work! Ready for the Excel task.